html {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
}

:root {
    --plain-white-color: #f8fafc;
}

body {
    margin: 0;
    display: grid;
    grid-template: 150px 5fr / 1fr 4fr;
}

header {
    grid-area: 1 / 2 / 2 / -1;

    display: grid;
    grid-template: 1fr 2fr / 2fr 1fr;
}

.profile-upper-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
}

header .profile-upper-right img:nth-child(2) {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.sidebar {
    background: #2563eb;
    grid-area: 1 / 1 / -1 / 2;
    
    color: var(--plain-white-color);;
}

.sidebar ul {
    list-style: none;
    margin-left: -50px;
}

a {
    color: var(--plain-white-color);
    text-decoration: none;
}

.logo {
    display: flex;
    gap: 10px;
    margin-left: -10px;
}

.logo h1 {
    font-size: 1.3rem;
}

.options li,
.logo {
    transition: all ease 0.25s;
    display: grid;
    grid-template-columns: 1fr 1fr;

    justify-items: center;
    align-items: center;
    padding: 0 15%;
}

.options li:nth-child(odd){
    background: #3b82f6;
}

.options li:hover {
    background: #93c5fd;
    cursor: pointer;
}

img {
    height: 25px;
}

.options a {
    font-size: 1.1rem;
    line-height: 2.5;
}


main {
    background: #cbd5e1;
    padding: 10px 25px;
    grid-area: 2 / 2 / -1 / -2;

    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 25px;
}

.card {
    background: var(--plain-white-color);
    border: transparent 1px solid;
}